snippet fmatter
---
title: $1
date: $2
tages: $3
---
$0
endsnippet

snippet ript
raw_input($1)
endsnippet

snippet ipt
input($1)
$2
endsnippet

snippet vipt
$1 = input ("$2")
$3
endsnippet

snippet vript
$1 = raw_input("$2")
$3
endsnippet

snippet pt
print($1)
endsnippet

snippet q 
"$1"
endsnippet
